<h1>Home Page</h1>
<p>lorem all other things come here.</p>


<h1>Blog</h1>
<%= @posts.inspect %>
<h4><%= @posts.count %></h4>
<br>
<h1>Skills</h1>
<%= @skills.inspect %>
<h4><%= @skills.count %></h4>
<br>
<h1>Porfolio</h1>
<%= @portfolio.inspect %>
<h4><%= @portfolio.count %></h4>
